@tailwind base;
@tailwind components;
@tailwind utilities;

---------- GLOBAL STYLES ----------

html, body, #root {
  height: 100%;
}

body {
  @apply bg-warriorsBg text-white font-sans;
}

/* Optional: custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
